{% extends "base.html.twig" %}

{% block title %}Un problème?{% endblock %}

{% block body %}

<h1>Nouveau topic</h1>
<h3>Qu'avez-vous à dire?</h3>
{{ form_start(newTopicForm) }}
    {{ form_row(newTopicForm.titre) }}
    {{ form_row(newTopicForm.description) }}
    <button type="submit" class="btn">Créer ou mettre à jour</button>
{{ form_end(newTopicForm) }}

{% endblock %}